.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin: 80px 100px;
}

.projects-title h1 {
  font-size: 50px;
  background: linear-gradient(264deg, #da7c25 20.09%, #b923e1 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.project-format {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  transition: 1.2s;
  cursor: pointer;
  padding: 10px 15px;
}

.project-format h2 {
  font-size: 23px;
  font-weight: 800;
  background: linear-gradient(270deg, #da7c25 50%, #b923e1 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.project-format img {
  height: 180px;
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
  margin: auto;
  margin-top: 0%;
}

.project-format:hover {
  border: 2px solid #ff00ff;
  /* background-image: linear-gradient(45deg, #6e0146,#582300); */
 
  transform: translateY(-3%);
 
  box-shadow: 0.5px 0.25px 15px rgb(179, 0, 0), 2px -2px 10px rgb(0, 0, 196);
}

.project-format p {
  font-size: 13.5px;
  font-weight: 500;
}

.projects-readmore {
  display: flex;
  margin-top: 20px;
}

.explore-btn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.explore-btn button a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.getCodeBtn button {
  padding: 10px;
  border-radius: 10px;
  background: rgb(117, 191, 255);
  outline: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.getCodeBtn button > a {
  color: black;
}

.demo-btn {
  background: rgb(118, 187, 0);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.getCodeBtn button:hover {
  border: 2px solid yellow;
  transform: translateY(-3%);
}

.demo-btn:hover {
  border: 2px solid blue;
  transform: translateY(-3%);
}

@media (max-width: 770px) {
  .projects-title h1 {
    font-size: 46px;
    text-align: center;
    min-width: 200px;
  }

  .projects-container {
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    display: grid;
    grid-template-columns: 1fr;
    width: 320px;
    min-width: 290px;
  }

  .project-format img {
    height: 180px;
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
    margin: auto;
    margin-top: 0%;
  }
}
