.projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 70px;
  gap: 50px;
}

.projects-title h1 {
  font-size: 50px;
  background: linear-gradient(264deg, #da7c25 20.09%, #b923e1 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.hoverProject {
  display: flex;
  width: 325px;
  flex-direction: row;
  margin-top: 20px;
  box-shadow: 0px 1px 2px rgb(0, 202, 0);
  margin-left: 20px;
  background-color: rgba(1, 7, 13, 0.751);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  transition: 0.5s;
  cursor: grabbing;
}

.hoverProject:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 10px rgb(142, 211, 3);
}

.project-format img {
  height: 250px;
  width: 325px;
  border-radius: 8px;
  
}

.project-format h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(270deg, #da7c25 0.09%, #ba0cea 90.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-format p {
  font-size: 15px;
  font-weight: 400;
  color: rgba(224, 224, 224, 0.79);
  margin-left: 10px;
}

.explore-btn {
  display: flex;
  gap: 50px;
 margin-top: 40px;
  margin-left: 30px;
  padding: 8px 10px;
}

.explore-btn button a {
  list-style-type: none;
  text-decoration: none;
 color: white;
}

.getCodeBtn button {
  border-radius: 10px;
  background: rgb(100, 148, 189);
  outline: none;
  border: none;
  cursor:grabbing;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  transition: 0.3s;
  display: flex;
  gap: 5px;
    padding: 8px 12px;
  transition: 0.5s;
 
  color: rgba(224, 218, 218, 0.589);
  font-weight: 400;
  font-size: 13px;
  cursor: grabbing;
}

.getCodeBtn i{
  font-size: 15px;
  color: rgb(54, 43, 43);
}

.demo-btn button {
  background: rgb(118, 187, 0);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  transition: 0.5s;
  padding: 8px 15px;
 
}

.getCodeBtn button:hover {
  border: 2px solid yellow;
  transform: translateY(-3%);
}

.demo-btn button:hover {
  border: 2px solid blue;
  transform: translateY(-3%);
}

@media (max-width: 770px) {
  .projects-title h1 {
    font-size: 40px;
    text-align: center;
   width: 100vw;
   margin-top: 100px;
  }

  .project-format {
     /* display: grid;
grid-template-columns: 1fr; */
display: flex;
flex-direction: column;
height: 380px;

  }

  .hoverProject {
   width: 300px;
   min-width: 270px;
   margin-right: 10px;
   padding: 0px 5px;
  }

  .project-format h2 {
    font-size: 19px;
  }
  .project-format p {
    font-size: 14px;
  }
  .project-format img {
    height: 350px;
     width: 300px;
   min-width: 270px;
  }

  .explore-btn{

   display: flex;
   width: 100%;
  
  }

  .getCodeBtn button{
    padding: 7px;

  }
  .demo-btn button{
    padding: 7px;
   
  }
}
