.hero {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  /* margin: 30px 40px; */
/* background-color: rgb(80, 80, 247); */
border-radius: 10px;
}

.left_hero {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  transition: 2s;
  cursor: pointer;
}


.left_hero h1 span {
  background: linear-gradient(270deg, #da7c25 0.36%, #b923e1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right_hero {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_hero img {
 
  height: 350px;
  width: 350px;
border-radius: 500px;
 margin-top: 50px;
 border: 2px solid rgba(255, 255, 0, 0.532);
 box-shadow: 2px 2px 20px rgb(150, 0, 0) , 2px 1px 10px rgb(158, 158, 255) ;
}

.hero h1 {
  font-size: 50px;
  font-weight: 600;
  margin-left: 0px;
}

.hero p {
  line-height: 35px;
  font-size: 17px;
}

.hero_action {
  display: flex;
  align-items: center;
  gap: 45px;
  font-size: 21px;
  margin-top: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.hero_connect {
  padding: 20px 35px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(270deg, #da7c25 0.36%, #b923e1 100%);
  font-size: 19px;
  cursor: pointer;
  transition: 0.2s;
}

.connectLink {
  text-decoration: none;
  color: white;
}
.hero_connect:hover {
  transform: scale(1.05);
  border: 2px solid white;
}

.hero_resume {
  padding: 20px 45px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(270deg, #da7c25 0.36%, #b923e1 100%);
  font-size: 19px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid white;
}

.hero_resume:hover {
  transform: scale(1.05);
  background: transparent;
  border: 2px solid #b923e1;
}

 .hero_resume a {
    text-decoration: none !important;
    color: white !important;
   
  }


@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 20%;
  }

  .left_hero {
    margin-left: 95px;
    width: 50%;
    margin-top: 30px;
  }

  .left_hero p {
    line-height: 25px;
    font-size: 14px;
    width: 100%;
    margin-top: 50px;
    display: none;
  }

  .hero_action {
    display: flex;
    flex-direction: column;
  }

  .hero_connect {
    margin-top: 45%;
    padding: 12px 30px;
    width: 45vw;
    min-width: 200px;
   align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .hero_resume {
    margin-top: 10%;
    padding: 12px 30px;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
      margin-right: 60px;
      min-width: 180px;
  }

 

  .right_hero img {
    height: 300px;
    width: 300px;
    display: flex;
    margin: auto;
    margin-left: 100%;
  }

  .left_hero h1 span{
    font-size: 45px;
    font-weight: 700;
  }
}
