.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px;
  flex-direction: column;
}

.about-title h1 {
  background: linear-gradient(270deg, #da7c25 0.36%, #b923e1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  background-color: aliceblue;
  margin-left: 50px;
}

.about-section {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.who {
  height: 180px;
  width: 470px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.5s;
  cursor: pointer;
}

.who h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
  color: #f57600;
}

.who p {
  margin-left: 16px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(224, 224, 224, 0.79);
}

.who:hover {
  background-color: #422000b6;
  transform: scale(1.05);
}
.what {
  height: 180px;
  width: 470px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.3s;
  color: rgba(224, 224, 224, 0.79);
}

.what h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
  color: #f57600;
}

.what p {
  margin-left: 16px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
}

.what:hover {
  background-color: #422000b6;
  transform: scale(1.05);
}

.approach {
  height: 180px;
  width: 480px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.3s;
}

.approach h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
  color: #f57600;
}

.approach p {
  margin-left: 16px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(224, 224, 224, 0.79);
}

.approach:hover {
  background-color: #422000b6;
  transform: scale(1.05);
}

.aboutAchievment {
  height: 280px;
  width: 480px;
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.5s;
}

.aboutAchievment h1 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
  color: #f57600;
}

.allAchievments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.experience h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 28px;
  color: #f57600;
}

.experience p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(224, 224, 224, 0.79);
}

.projectsAchievements h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 28px;
  color: #f57600;
}

.projectsAchievements p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(224, 224, 224, 0.79);
}

.starAchievment h2 {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 28px;
  color: #f57600;
}

.starAchievment p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(224, 224, 224, 0.79);
}

.aboutAchievment:hover {
  background-color: #422000b6;
  transform: scale(1.03);
}
.certify {
  height: 180px;
  width: 500px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.5s;
  margin-top: 80px;
  gap: 5px;
}

.certify h2 {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 28px;
  color: #f57600;
  font-size: 25px;
}

.certify p {
  margin-left: 16px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.5s;
  margin-top: 7px;
  color: rgba(224, 224, 224, 0.79);
}

.certify p > a {
  text-decoration: none;
  color: greenyellow;
}

.certify:hover {
  transform: scale(1.03);
  background-color: #422000b6;
  transform: scale(1.03);
}

/* .certify p:hover {
  box-shadow: 0px 0px 3px rgb(119, 179, 1);
  width: 430px;
  border-radius: 10px;
  cursor: pointer;
} */

.coreValue {
  height: 180px;
  width: 500px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.3s;
  margin-top: 15px;
}

.coreValue h2 {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 28px;
  color: #f57600;
  font-size: 25px;
}

.coreValue p {
  margin-left: 16px;
  font-weight: 500;
  font-size: 17px;
  color: rgba(224, 224, 224, 0.79);
}

.coreValue:hover {
  background-color: #422000b6;
  transform: scale(1.03);
}
.currentFocus {
  height: 180px;
  width: 500px;
  border: 1px solid rgb(111, 3, 3);
  background-color: rgba(1, 41, 77, 0.354);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 2px #f57600;
  transition: 0.5s;
  margin-top: 40px;
}
.currentFocus h2 {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
  color: #f57600;
}

.currentFocus p {
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(224, 224, 224, 0.79);
}

.currentFocus:hover {
  transform: scale(1.03);
}

.currentLearnings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.learning {
  margin-top: 5px;
  padding: 2px 10px;
  border: 1px solid green;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.learning:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 8px rgb(119, 179, 1);
}

@media (max-width: 760px) {
  .about-title h1 {
    margin-top: 45px;
    font-size: 46px;
    width: 90vw;
    margin-left: 50px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 20px;
  }

  .about-left {
    display: flex;
  }

  .who {
    height: 230px;
    width: 90vw;
    margin-left: 10px;
  }

  .what {
    height: 230px;
    /* min-height: 225px; */
    width: 90vw;
    margin-left: 10px;
  }

  .approach {
    height: 230px;
    min-height: 225px;
    width: 90vw;
    margin-left: 10px;
  }

  .coreValue {
    height: 230px;
    min-height: 225px;
    width: 90vw;
    margin-left: 10px;
  }
  .coreValue p {
    font-size: 16px;
    margin-top: 10px;
  }

  .about-right {
    display: flex;
    flex-direction: column;
  }

  .aboutAchievment {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 350px;
    padding-left: 10px;
  }
  .allAchievments {
    display: flex;
    gap: 5px;
  }
  .certify {
    height: 260px;
    min-height: 225px;
    width: 90vw;
    margin-left: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .currentFocus {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 350px;
    margin-left: 10px;
  }
  .currentLearnings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
}
