/* .navbar{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  position:sticky;
  top:0;
  z-index:-1;
background-color: red;
} */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  position:sticky;
  top: 0px;
  z-index: 999;
  /* z-index: 1; */
  /* background-color:rgba(94, 3, 173, 0.114); */
  background-color:rgba(1, 1, 135, 0.372);
  backdrop-filter: blur(10px);
  

}

.nav-menu.desktop {
  display: flex;
  gap: 30px;
  margin-left: 60px;

}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

/* Sidebar for mobile */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background:rgba(6, 48, 84, 0.521);
 
  backdrop-filter: blur(15px);
  color: white;
  padding: 60px 20px;
  transition: left 0.5s ease;
  z-index: 998;
  border-radius: 10px;
}

.side-menu.show {
right: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
  font-size: 20px;
}


.modeBtn{
margin-right: 50px;
cursor: pointer;
transition: 0.3s;

}

.modeBtn i{
height: 10px;
width: 20px;
border-radius: 50px;
font-size: 15px;

}
/* Responsive */
@media (max-width: 768px) {
  .nav-menu.desktop {
    display: none;
  }
  .menu-btn {
    
    display: block;
  }
  .modeBtn{
  position: fixed;
  right: -10px;
   
  }
}

.navbar:hover {
  box-shadow: 2px 0.3px 5px rgba(4, 4, 176, 0.548);
  opacity: 0.5;
  background: linear-gradient(135deg, #000000, rgba(2, 2, 53, 0.979));
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 50px;
  font-size: 17px;
  padding: 10px 20px;
  color: white;
  border-radius: 50px;
  transition: 0.3s;
  font-weight: 400;
}



.navbar h1 {
  height: 60px;
  background: linear-gradient(270deg, #da7c25 0.36%, #8f09b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  border-radius: 30px;
 margin-left: 18px;
}



.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.anchorLink {
  text-decoration: none;
  color:#da7c25;
  cursor:grabbing;
}





 
