@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
    
}

/* body{
    height: 100vh;
    background: linear-gradient(180deg, black, rgb(13, 22, 31));
    backdrop-filter: blur;
    
    color: white;
} */

:root{
  --scroll-color:blue
}

body{
  /* margin: 0;
  padding: 0; */
  background-color: rgb(1, 7, 13);
  backdrop-filter: blur(10px);
 
  color: white;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
  background-color: rgb(1, 57, 107);
}

body::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color); /* scrollbar thumb color (blue) */
  border-radius: 4px;
}



body.light .navbar {
  background-color: rgba(10, 10, 70, 0.909);
  backdrop-filter: blur(20px);
}

body.light .logoName h1{
  font-size: 22px;
  color: Black;
  font-weight: 700;
}

body.light .logoName img{
 border-radius: 50px;
}
body.light .logoName p{
  font-size: 16px;
  font-weight: 700;
}

body.light .nav-menu li{
color:rgb(202, 197, 197);
font-weight: 600;

}


body.light .left_hero > p {
  color: black;
  font-weight: 500;
}

body.light .left_hero h1 {
  color: black;
  font-size: 45px;
  font-size: 650;
}

body.light .left_hero h2{
  color: black;
  font-weight: 700;
  font-size: 50px;
}
body.light .para h4{
  color:black;
  font-weight: 600;
}

body.light .para h4 span{
 
  font-weight: 700;
}

body.light .who, 
body.light .what, 
body.light .approach,
body.light .coreValue,
body.light .aboutAchievment,
body.light .certify,

body.light .currentFocus,
body.light .currentLearnings
{
  background-color: rgb(66, 167, 255);
}

body.light .who h2,
body.light .what h2,
body.light .approach h2 ,
body.light .coreValue h2,
body.light .aboutAchievment h2,
body.light .aboutAchievment h1,
body.light .certify h2,
body.light .currentFocus h2,
body.light .currentLearnings h2

{
  color:black
}

body.light .who p,
body.light .what p,
body.light .approach p,
body.light .coreValue p,
body.light .aboutAchievment p,
body.light .certify p,

body.light .currentFocus p,
body.light .currentLearnings p

{
  color:rgb(75, 1, 1);
  font-weight: 500;
}
body.light .certify a{
color:brown
}

body.light .learning p{
  color:rgb(109, 2, 2);
}


body.light .hero_resume {
  color: black;
}

body.light .hero_resume:hover {
  color: black;
  background-color: black;
}

body.light .frontEnd-container {
  background-color:rgb(1, 46, 85);
  backdrop-filter: blur(20px);
  border: none;
}

body.light .backend-container {
 background-color:rgb(1, 46, 85);
  backdrop-filter: blur(20px);
  border: 1px solid black;
}

body.light .tools-container {
 background-color:rgb(1, 46, 85);
  backdrop-filter: blur(20px);
  border: none;
}



body.light .hoverProject{
background-color: rgb(0, 12, 23);

}

body.light .project-format p :hover{
  color: rgba(224, 224, 224, 0.79);
}
body.light .hoverProject:hover{
  background-color:rgb(1, 46, 85);
  color: black;
}






body.light .contact-title p {
  font-weight: 600;
  color: black;
}

body.light .contact-left > h1 {
  color: black;
  font-weight: 600;
  max-width: 250px;
}
body.light .contact-left > p {
  color: black;
  font-weight: 600;
  max-width: 200px;
}

body.light .contact-right {
  background-color: rgba(0, 15, 27, 0.874);
  transition: 0.3s;
}

body.light .secondContactBox {
  background-color: rgba(0, 15, 27, 0.874);
  transition: 0.3s;
}
 body.light .secondContactBox a{
   background-color: aliceblue;
  color: black;
 }

  body.light .secondContactBox a i{
  color: black;
 }


body.light .contact-right:hover {
  box-shadow: 0px 2px 10px rgb(2, 91, 169);
 
}

body.light .contact-right > input {
  background-color: aliceblue;
  color: black;
}
body.light .contact-right > textarea {
  background-color: aliceblue;
  color: black;
}

body.light .footer-container{
  background-color: rgb(1, 7, 13);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 5px red;
}


body.light .footerLast h1 {
  color: black;
  font-weight: 700;
  width: 50vw;
  min-width: 300px;
  margin: auto;
  text-align: center;
}
body.light .footerLast p{
   color: black;
  font-weight: 600;
}